Atividade 2 IA - 2021-09-15

Gabriel Panema      TIA: 41780337 |
Mateus Rodrigues    TIA: 41634276 |
Patrick Lopes       TIA: 31613845 |
Ricardo Daracdjian  TIA: 31728758 |
Vitor Cabral        TIA: 31701620

1)

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
estacoes = pd.read_csv('estaciones.csv',index_col = 0)
estacoes.head(3)

In [ ]:
viagens = pd.read_csv('viajes_2019.csv')
viagens.head(3)

In [ ]:
viagens_por_estacao = viagens.merge(estacoes, left_on = "Ciclo_Estacion_Retiro", right_on ="id", how =  'inner')
viagens_por_estacao.head(3)

  Genero_Usuario  Edad_Usuario  Bici  ...  nearbyStations        lat        lon
0              M            30  7685  ...           [136]  19.417715 -99.162729
1              M            29  4312  ...           [136]  19.417715 -99.162729
2              M            37  4193  ...           [136]  19.417715 -99.162729

[3 rows x 17 columns]

2)

In [ ]:
viagens_por_estacao.groupby(['Bici']).count()[["Hora_Retiro"]].sort_values(by='Hora_Retiro', ascending=False).head(1)

       Hora_Retiro
Bici
12492          191

3)

In [ ]:
viagens_por_estacao["DateTime_Retirada"] = pd.to_datetime(viagens_por_estacao['Fecha_Retiro'] + " " + viagens_por_estacao['Hora_Retiro'], dayfirst = True)
viagens_por_estacao["DateTime_Chegada"] = pd.to_datetime(viagens_por_estacao['Fecha_Arribo'] + " " + viagens_por_estacao['Hora_Arribo'], dayfirst = True)

viagens_por_estacao.head(3)

In [ ]:
viagens_por_estacao["Tempo_Viagem"] = viagens_por_estacao["DateTime_Chegada"] - viagens_por_estacao["DateTime_Retirada"]
viagens_por_estacao.head(3)

In [ ]:
viagens_por_estacao.groupby(['Bici'])["Tempo_Viagem"].sum().sort_values(ascending=False).head(1)

Bici
7342   132 days 18:41:45
Name: Tempo_Viagem, dtype: timedelta64[ns]

4)

In [ ]:
viagens_por_estacao["Tempo_Viagem_seconds"] = viagens_por_estacao['Tempo_Viagem'].apply(lambda x: x.total_seconds())

viagens_por_estacao.head(10)

In [ ]:
tempo_medio_por_bike = viagens_por_estacao.groupby(['Bici'])["Tempo_Viagem_seconds"].mean()
tempo_medio_por_bike = pd.DataFrame(data=tempo_medio_por_bike)
tempo_medio_por_bike["Tempo_Viagem"] = pd.to_timedelta(tempo_medio_por_bike['Tempo_Viagem_seconds'], unit='s')
tempo_medio_por_bike.sort_values(by = 'Tempo_Viagem', ascending=False)

       Tempo_Viagem_seconds              Tempo_Viagem
Bici
7342           1.147210e+07         132 days 18:41:45
10380          1.012670e+05           1 days 04:07:47
12095          6.184600e+04           0 days 17:10:46
8883           3.205907e+04    0 days 08:54:19.072000
4298           3.144593e+04 0 days 08:44:05.928571429
...                     ...                       ...
14101          3.040000e+02           0 days 00:05:04
9879           2.555000e+02    0 days 00:04:15.500000
11542          2.440000e+02           0 days 00:04:04
10050          2.310000e+02           0 days 00:03:51
14096          1.945000e+02    0 days 00:03:14.500000

[5598 rows x 2 columns]

5)

In [ ]:
viagens_por_estacao_136 = viagens_por_estacao[viagens_por_estacao['Ciclo_Estacion_Retiro'] == 136]
viagens_por_estacao_136.head(10)

In [ ]:
viagens_por_estacao_136["Edad_Usuario"].mean()

34.574539877300616